/* CSS HEX
--rose: #f92a82ff;
--dark-sea-green: #7eb77fff;
--linen: #f5e9e2ff;
--steel-blue: #3f7cacff;
--purple-navy: #4e5283ff; */

/* 1440px */

body, header, main, section, article, div, footer {    
    margin: 0;
}

.body {
    background-image: url(/images/sakura-digital-paper-5316790_1920.jpg);
}

header {
    background-color: #f7e4e8;
    height: auto;
}

#siteHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Caveat', cursive;
    color:#f92a82;
    margin: 0;
}

.header-img {
    max-width: 20%;
}

nav ul {
    margin: 0;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #f92a82;
    text-decoration: underline;
}

#main-panel {
    max-width: 800px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Caveat', cursive;    
    margin: 5px 0;
}

article {
    padding: 10px;
    background-color: #F5E9E2;
    margin-bottom: 10px;
}

.article-heading {
    font-family: 'Source Serif 4', sans-serif;
    text-align: center;    
}

h4 {
    font-family: 'Oooh Baby', cursive;
    margin: 5px 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#news {
    color:#f92a82;
}

.news h3 {
    color:#f92a82;
}

.news h4 {
    color:#f92a82;
}

.news a {
    color:#f92a82;
}

#money {
    color: #3f7cac;
}

.money h3 {
    color: #3f7cac;
}

.money h4 {
    color: #3f7cac;
}

.money a {
    color: #3f7cac;
    text-decoration: none;
}

#books {
    color: #5bb55d;
}

.books h3 {
    color: #5bb55d;
}

.books h4 {
    color: #5bb55d;
}

#magazines {
    color: #C16200;
}

.magazines h3 {
    color: #C16200;
    margin-bottom: 0px;
}

.magazines h4 {
    color: #C16200;
}

.magazines a {
    color: #C16200;
}

#kindness {
    color: #4E5283;
}

.kindness h3 {
    color: #4E5283;
    margin-bottom: 0px;
}

.kindness h4 {
    color: #4E5283;
}

.center-text {
    margin-top: 0;
    text-align: center;
}

.subheading {
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.article-img {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.round-logo {
    border-radius: 120px;
    display: block;
    margin: 0 auto;
}

.subscribe {    
    text-align: center;
    margin-top: 5px;
}

.subscribe a {
    color: white;
    font-family: 'Poiret One', cursive;
    background-color: #f92a82;
    text-decoration: none;
    padding: 10px 10px;
}

.subscribe a:hover {
    background-color: #5bb55d;
}

footer {
    background-color: #f7e4e8;
    height: auto;
    padding: 5px;
}

#backToTop {
    position: fixed;
    right: 5px;
}

#backToTop a {
    text-decoration: none;
    color: black;
}

#backToTop a:hover {
    color: #f92a82;
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: 1.5em;
    }

    .header-img {
        width: 50%;
    }

    nav a {
        font-size: 1em;
    }

    #main-panel {
        max-width: 300px;
    }

    h2 {
        font-size: 1em;
    }

    .article-heading {
        font-size: .8em;
    }

    div h4 {
        font-size: 1em;
    }

    .subheading {
        font-size: 1em;
    }
    
    .round-logo {
        width: 20%
    }

    .article-img {
        width: 30%;   
    }

    .current-issue {
        font-size: 1em;
    }

    #womankind-img {
        width: 50%;
    }
    
    .sponsorship-img {
        width: 60%;
    }

    footer {
        font-size: .5em;

    }

    .subscribe a {
        font-size: .8em;
        margin-bottom: 5em;
    }

    #backToTop {
        font-size: 2em;
        bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    
    nav a {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    #main-panel {
        max-width: 650px;
    }

    .article-img {
        width: 20%;
    }

    div h4 {
        font-size: 1.5em;
    }
    
    .subscribe a {
        font-size: 1em;
    }

    footer {
        font-size: .8em;
    }

    #backToTop {
        bottom: 20px;
    }
}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 3em;
    }
    
    #main-panel {
        max-width: 900px;
    }
    nav a {
        font-size: 2em;
    }

    .subheading {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    .article-heading {
        font-size: 1.5em;
    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }

    
    nav ul {
        font-size: 1em;
    }

    #main-panel {
        max-width: 1000px;
    }

    h2 {
        font-size: 2.5em;
    }

    .article-heading {
        font-size: 1.5em;
    }

    div h4 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
    
    .subheading {
        font-size: 1.5em;
    }

    footer {
        font-size: 1em;
    }

    #backToTop {
        font-size: 1.5em;
        margin-bottom:20px;
    }

    #backToTop a:hover {

        font-size: 1.5em;
    }

    .subscribe {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 2560px) {
    h1 {
        font-size: 6em;
    }


    nav ul {
        font-size: 2.5em;
    }
    
    #main-panel {
        max-width: 2000px;
    }

    h2 {
        font-size: 5em;
    }

    .article-heading {
        font-size: 4em;
    }

    div h4 {
        font-size: 3.5em;
    }

    p {
        font-size: 2em;
    }
    
    .subheading {
        font-size: 3em;
    }

    .round-logo {
        border-radius: 200px;
    }

    .subscribe a {
        font-size: 2.5em;
    }

    #backToTop {
        font-size: 2em;
        bottom: 30px;
    }
}

